@import url("https://fonts.googleapis.com/css?family=Muli&subset=vietnamese");
/*Main Content*/

/*Stores*/
.headline {
  color:white;
  padding-top:4%;
  text-align:left;
  font-size: 20px;
}

.section1{
  color: aliceblue;
  display: inline-block;
  float: left;
}
.section2{
  color: aliceblue;
}
select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #006633;
  color: white;
  font-size: 16px;
}

h2 {
  color:white;
  font-size: 24px;
}

.scroll-box {
  width: 50%;
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 10px;
}

#diachi-list {
  list-style-type: none;
  padding: 0;
}

#diachi-list li {
  color:white;
  padding: 5px;
  align-items:left;
  justify-content: space-between;
}

.icon {
  margin-right: 10px;
}

.button {
  margin-left:3px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  border: 1px solid orangered !important; 
}