@import url("https://fonts.googleapis.com/css?family=Muli&subset=vietnamese");
/*Main Content*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
  display: none;
  transition: all .5s ease;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.slide {
  animation-name: slide;
  animation-duration: 1.5s;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(100%) }
  to {
    opacity: 1;
    transform: translateX(0%) }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*Stores*/
.headline {
  color:white;
  padding-top:4%;
  text-align:left;
  font-size: 20px;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: #006633;
  color: white;
  font-size: 16px;
}

h2 {
  color:white;
  font-size: 24px;
}

.scroll-box {
  width: 50%;
  max-height: 200px;
  overflow-y: scroll;
  padding-right: 10px;
}

#diachi-list {
  list-style-type: none;
  padding: 0;
}

#diachi-list li {
  color:white;
  padding: 5px;
  align-items:left;
  justify-content: space-between;
}

.icon {
  margin-right: 10px;
}

.button {
  margin-left:3px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color:white;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  border: 1px solid orangered !important; 
}
.Content{
  text-align: justify;
  font-size: 0.875rem;
}