.title-sep-right{
  background-color: #9999999b;
  border-color: #99999989;
  border-radius: 2px;
  height: 1.5px;
  width: 160px;
  position: relative;
  left: 429px;
  bottom: 0.7rem;
}
.title-sep-left{
  background-color: #9999999b;
  border-color: #99999989;
  border-radius: 2px;
  height: 1.5px;
  width: 160px;
  position: relative;
  left: 665px;
  bottom: 0.7rem;
}
.leaf-1{
  padding-bottom: 3px;
  position: relative;
  left: 644px;
  top: 38px;
	width: 25px;
	height: 40px;
	border-radius: 0 30px;
	background-color: #99999989;
	transform: rotate(70deg);
}
.leaf-2{
  position: relative;
  top: 10px;
  left: 605px;
  width: 25px;
	height: 40px;
	border-radius: 0 30px;
	background-color: #99999989;
	transform: rotate(140deg);
}
.leaf-3{
  position: relative;
  bottom: 36px;
  left: 621px;
  width: 20px;
	height: 20px;
	border-radius: 0 30px;
	background-color: #99999989;
	transform: rotate(19deg);
}
.btn-primary-outline{
  border-color: #cccccc;
}
.col.SpecialMenu{
  width: 34rem;
  height: 23rem;
  overflow: hidden;
  background-repeat:round;
}
.SpecialItem{
  position: relative;
  bottom: 11rem;
  left: 18rem;
  height: 23rem;
  width: 17.25rem;
}
.SpecialMenu{
  background-image: url("/static/images/nuoc/background.png");
}
.item-name{
  padding-top: 2rem;
  color: #105600;
}
.item-price{
  padding-top: 2rem;
  color: #105600;
}
.Menu{
  height: 23rem;
  width: 18rem;
  font-size: small;
}
.menuItemImage{
  position: relative;
  left: 3.5rem;
  bottom: 1.5rem;
  height: 14rem;
  width: 10.25rem;
}
.menuItemImage1{
  position: relative;
  left: 3.5rem;
  bottom: 1.5rem;
  height: 14rem;
  width: 10.25rem;
}
.menuItemImage2{
  position: relative;
  left: 3.5rem;
  top: 0.2rem;
  height: 14rem;
  width: 10.25rem;
}
.menuItemImage3{
  position: relative;
  left: 3.5rem;
  bottom: 1.5rem;
  height: 14rem;
  width: 10.25rem;
}
.card-tilte{
  text-align: center;
  position: relative;
  bottom: 3rem;
}
.card-text{
  position: relative;
  bottom: 3rem;
  text-align: center;
}
.priceItem{
  font-size: large;
  color: #0e4303;
}
.buybtn{
  position: relative;
  bottom: 6.8rem;
  left: 4.8rem;
}
.normalMenu{
  position: relative;
  top: 1rem;
  z-index: 2;
}
.normalMenu.Left{
  left: 8.5rem;
}