.title-sep-right{
  background-color: #9999999b;
  border-color: #99999989;
  border-radius: 2px;
  height: 1.5px;
  width: 160px;
  position: relative;
  left: 429px;
  bottom: 0.7rem;
}
.title-sep-left{
  background-color: #9999999b;
  border-color: #99999989;
  border-radius: 2px;
  height: 1.5px;
  width: 160px;
  position: relative;
  left: 665px;
  bottom: 0.7rem;
}
.leaf-1{
  padding-bottom: 3px;
  position: relative;
  left: 644px;
  top: 38px;
	width: 25px;
	height: 40px;
	border-radius: 0 30px;
	background-color: #99999989;
	transform: rotate(70deg);
}
.leaf-2{
  position: relative;
  top: 10px;
  left: 605px;
  width: 25px;
	height: 40px;
	border-radius: 0 30px;
	background-color: #99999989;
	transform: rotate(140deg);
}
.leaf-3{
  position: relative;
  bottom: 36px;
  left: 621px;
  width: 20px;
	height: 20px;
	border-radius: 0 30px;
	background-color: #99999989;
	transform: rotate(19deg);
}
.btn-primary-outline{
  border-color: #cccccc;
}
.col.SpecialMenu{
  width: 34rem;
  height: 23rem;
  overflow: hidden;
  background-repeat:round;
}
.SpecialItem{
  position: relative;
  bottom: 11rem;
  left: 18rem;
  height: 23rem;
  width: 17.25rem;
}
.SpecialMenu{
  background-image: url("/static/images/nuoc/background.png");
}
.item-name{
  padding-top: 4rem;
  color: #105600;
}
.item-price{
  padding-top: 2rem;
  color: #105600;
}
.Menu{
  height: 23rem;
  width: 18rem;
  font-size: small;
}
.menuItemImage{
  position: relative;
  left: 3.5rem;
  bottom: 1.5rem;
  height: 14rem;
  width: 10.25rem;
}
.menuItemImage1{
  position: relative;
  left: 3.5rem;
  bottom: 1.5rem;
  height: 14rem;
  width: 10.25rem;
}
.menuItemImage2{
  position: relative;
  left: 3.5rem;
  top: 0.2rem;
  height: 14rem;
  width: 10.25rem;
}
.menuItemImage3{
  position: relative;
  left: 3.5rem;
  bottom: 1.5rem;
  height: 14rem;
  width: 10.25rem;
}
.card-title{
  text-align: center;
  position: relative;
  bottom: 3rem;
}
.card-describe{
  position: absolute;
  bottom: 5rem;
  text-align: center;
}
.prices{
  text-align: center;
  font-size: large;
  color: #0e4303;
}
.order-btn{
  margin-left: 5.5rem;
}
.normalMenu{
  position: relative;
  top: 1rem;
  z-index: 2;
}
.normalMenu.Left{
  left: 8.5rem;
}
/* CART */
.cart{
  padding-top: 0.625rem;
}
#CartButton{
  height: 2.5rem;
  width: 7.5rem;
}
.sidebar{
  background-color: white;
  border-style: none none none solid;
  border-color: white;
  border-width: 0.3rem;
  height: 43.4rem;
  width: 0;
  position: fixed;
  inset: 8.4rem 0 0 auto;
  z-index: 2;
  transition: 0.5s;
  overflow: scroll;

}
.sidebar::-webkit-scrollbar{
  display: none;
}
.product{
  height: 8rem;
  position: relative;
  bottom: 7rem;
}
.product-wrapper{
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  height: 6rem;
  width: 25rem;
  border: 0.0063rem solid #009821;
  border-radius: 0.625rem;
}
.Product-image{
  height: 6rem;
  width: 5rem;
}
.product-title{
  position: absolute;
  top: 1.5rem;
  left: 5.625rem;
  font-size: 0.8125rem;
  text-align: justify;
}
.card-text{
  position: absolute;
  top: 3rem;
  left: 5.625rem;
  font-size: 0.75rem;
  text-align: justify;
}
.prices-tag{    
  position: relative;
  top: 0.5rem;
  left: 18rem;
  font-size: 0.8125rem;
  text-align: justify;
}
.prices-drink{
  position: relative;
  top: 0.1rem;
  left: 18.5rem;
  font-size: 0.8125rem;
  text-align: justify; 
}
input[type="number"] {
  position: relative;
  bottom: 0.5rem;
  left: 5rem;
  height: 1.5rem;
  width: 15rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #d8d8d8;
  text-align: center;
  outline: none;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2067%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20stroke-width%3D%222%22%3E%3Cline%20x1%3D%221%22%20x2%3D%2250%22%20y1%3D%2233.5%22%20y2%3D%2233.5%22%20stroke%3D%22%23D8D8D8%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2020)%20rotate(45)%20translate(-25%20-20)%22%20points%3D%2219%2026%2019%2014%2032%2014%22%20stroke%3D%22%23000%22%2F%3E%3Cpolyline%20transform%3D%22translate(25%2045)%20rotate(225)%20translate(-25%20-45)%22%20points%3D%2219%2052%2019%2039%2032%2039%22%20stroke%3D%22%23000%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
  font-size: 0.8125rem;
}

input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none !important;
opacity: 1 !important;
background: transparent !important;
border-width: 0rem;
margin: 0;
border-left: 0.0625rem solid #d8d8d8;
height: 2.125rem;
width: 1.4375rem;
cursor: pointer;
}
.btn.closeButton{
  border-radius: 0rem !important;
}
.btn.orderButton{
  border-radius: 0rem !important;
}
.Cardfooter{
  margin-top: 24.3rem;
  z-index: 2;
}