{% extends "layout_drinks.html" %}
{% block content %}
<img class="img-fluid pb-4" src="{{url_for("static", filename="images/nuoc/banner.png")}}"></img>
<div class="container" style="padding-bottom:3rem">
  <div class="subHeader">
    <h1 class="text-center" style="font-family:Times New Roman;color:#198754">
      THỨC UỐNG
    </h1>
    <div class="container" style="position: relative; right: 10px;bottom: 10px">
      <div class="container" style="position: relative; right: 5px; top:5px">
        <div class="leaf-1"></div>
        <div class="leaf-2"></div>
        <div class="leaf-3"></div>
      </div>
      <div class="container" style="position: relative; bottom: 20px">
        <div class="title-sep-right">
        </div>
        <div class="title-sep-left">
        </div>
      </div>
    </div>
  <div class="container border mb-5">
    <div class="row row-cols-3">
      <div class="col">
        <div class="input-group pt-3 pb-3 pe-3">
          <label for="SelectPicker1" class="pt-1"><small style="font-size:13px"><b>Nhóm sản phẩm</b></small></label>
          <select id="SelectPicker1"class="form-select"style="display: relative; left:20px">
            <option selected>Chọn nhóm</option>
            <option value="1">Trà sữa nguyên bản</option>
            <option value="2">Trà nguyên bản</option>
            <option value="3">Trà trái cây</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="input-group pt-3 pb-3 ps-2 pe-3">
          <label for="SelectPicker2" class="pt-1"><small style="font-size:13px"><b>Theo giá</b></small></label>
          <select id="SelectPicker2"class="form-select"style="display: relative; left:20px">
            <option selected>Không lựa chọn</option>
            <option value="1">Từ cao đến thấp</option>
            <option value="2">Từ thấp đến cao</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="input-group pt-3 pb-3 ps-2 pe-3">
          <label for="searchBar" class="pt-1 pe-3"><small style="font-size:13px"><b>Tìm kiếm</b></small></label>
          <input class="form-control me-2" type="search" placeholder="Search" arial-label="Search">
          <a class="link-dark pt-1" href="#"><big><i class="lni lni-search-alt"></i></big></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-4">
    <div class="col mt-4 border-rounded SpecialMenu">
        <span class="badge text-bg-danger ms-1">Bán chạy</span>
        <span class="badge text-bg-success" style="position: relative; left: 23rem">Món mới</span>
        <div class="container item-infor">
          <h3 class="item-name">Trà Ô Long Mãng Cầu<br>Jelly Sợi Dừa</h3>
          <big class="item-price"><b>65.000 đ</b><br></big>
          <button class="btn btn-outline-success mt-5">Liên Hệ</button>
        </div>
        <img class="SpecialItem" src="{{url_for("static", filename="images/nuoc/tra1.png")}}">
    </div>
    <div class="col">
      <span class="badge text-bg-danger normalMenu">Bán chạy</span>
      <span class="badge text-bg-success normalMenu Left">Món mới</span>
      <div class="card Menu">
        <img class="menuItemImage" src="{{url_for("static", filename="images/nuoc/tra2.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Trà Mãng Cầu Đá Xay</b></h6>
          <p class="d-flex justify-content-center card-text">BST Cầu Phúc Đong Đầy - Long Niên May Mắn</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>65.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
    <div class="col">
      <span class="badge text-bg-danger normalMenu">Bán chạy</span>
      <span class="badge text-bg-success normalMenu Left">Món mới</span>
      <div class="card Menu">
        <img class="menuItemImage" src="{{url_for("static", filename="images/nuoc/tra3.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Trà Sữa Mãng Cầu Jelly Dừa Sợi</b></h6>
          <p class="d-flex justify-content-center card-text">BST Cầu Phúc Đong Đầy - Long Niên May Mắn</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>65.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-4">
    <div class="col">
      <span class="badge text-bg-danger normalMenu">Bán chạy</span>
      <span class="badge text-bg-success normalMenu Left">Món mới</span>
      <div class="card Menu">
        <img class="menuItemImage1" src="{{url_for("static", filename="images/nuoc/tra4.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Trà Lucy</b></h6>
          <p class="d-flex justify-content-center card-text">Mang lại may mắn cho bạn ngày mới tốt lành</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>65.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
    <div class="col">
      <span class="badge text-bg-danger normalMenu">Bán chạy</span>
      <div class="card Menu">
        <img class="menuItemImage2 mb-5" src="{{url_for("static", filename="images/nuoc/tra5.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Hồng Trà Chanh</b></h6>
          <p class="d-flex justify-content-center card-text">Lime Black Tea</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>40.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
    <div class="col">
      <span class="badge text-bg-danger normalMenu">Bán chạy</span>
      <span class="badge text-bg-success normalMenu Left">Món mới</span>
      <div class="card Menu">
        <img class="menuItemImage2 mb-5" src="{{url_for("static", filename="images/nuoc/tra6.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Trà Sữa Matcha</b></h6>
          <p class="d-flex justify-content-center card-text">Matcha Milk Tea</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>40.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
    <div class="col">
      <span class="badge text-bg-success normalMenu Left">Món mới</span>
      <div class="card Menu">
        <img class="menuItemImage2 mb-5" src="{{url_for("static", filename="images/nuoc/tra7.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Hồng Trà Sữa</b></h6>
          <p class="d-flex justify-content-center card-text">Peach Black Milk Tea</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>45.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-4 mt-3">
    <div class="col" style="position:relative; bottom:1.5rem;">
      <span class="badge text-bg-success normalMenu Left">Món mới</span>
      <div class="card Menu">
        <img class="menuItemImage2 mb-5" src="{{url_for("static", filename="images/nuoc/tra8.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Chanh Đá Xay</b></h6>
          <p class="d-flex justify-content-center card-text">Lime Ice Blended</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>55.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card Menu">
        <img class="menuItemImage2 mb-5" src="{{url_for("static", filename="images/nuoc/tra9.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Mathcha Đá Xay</b></h6>
          <p class="d-flex justify-content-center card-text">Matcha Ice Blended</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>65.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card Menu">
        <img class="menuItemImage2 mb-5" src="{{url_for("static", filename="images/nuoc/tra10.png")}}">
        <div class="card-body">
          <h6 class="d-flex justify-content-center card-tilte"><b>Oreo Capuchino Đá Xay</b></h6>
          <p class="d-flex justify-content-center card-text">Oreo Espresso Ice Blended</p>
          <p class="d-flex justify-content-center card-text priceItem"><b>65.000đ</b></p>
          <a class="btn btn-outline-success mt-5 buybtn">Đặt Hàng</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
