{% extends "layout.html" %}
{% block content %}
<!-- Body code starts from here-->
<!-- Slideshow container -->
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<!--Stores Menu-->
<div class="container-fluid" style="background-color: #006633">
    <h2 class='headline'>HỆ THỐNG CỬA HÀNG</h2>
    <div class="section1">
        <label for="city"></label>
        <select id="city" name="city" onchange="capnhat()">
            <option value="">Chọn tỉnh/thành phố</option>
            <option value="Thành Phố Hà Nội">Thành Phố Hà Nội</option>
            <option value="Thành Phố Hồ Chí Minh">Thành Phố Hồ Chí Minh</option>
            <option value="Tỉnh Tiền Giang">Tỉnh Tiền Giang</option>
        </select>
    </div>
    <div class="section2">
        <label for="district"></label>
        <select id="district" name="district" onchange="displayChiNhanh()">
            <option value="">Chọn quận/huyện</option>
        </select>
    </div>

    <h3 class='headline'>Địa chỉ cửa hàng</h2>

    <div id="phuclong-section" class="scroll-box">
        <ul id="diachi-list"></ul>
    </div>
</div>
<script src="{{url_for("static", filename="script/navigator.js")}}"></script>
{% endblock content %}