<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>PhucLong</title>
</head>
<body>
<header>
   <div class="logo"> 
       <img src="{{url_for('static', filename='/images/Logo.png')}}" height="70px" title="logoPL">
   </div> 
   <div class="menu"> 
   <li> <a href="">THỨC UỐNG</a>
        <ul class=" submenu">
        <li><a href="">Thức Uống</a></li>
        <li><a href=""> Bánh Tráng Miệng </a></li>
         <li><a href="">Đồ Ăn Mặn</a></li>
        </ul></li>
   <li> <a href="">CÀ PHÊ</a></li>
   <li> <a href="">TRÀ</a></li>
   <li> <a href="">BÁNH NGỌT</a></li>
   <li> <a href="">CHI NHÁNH</a></li>
   </div>
   <div class="khac"> 
    <li><input placeholder="Tìm kiếm" type="text">  <i class="fas fa-search"></i></li>
    <li><a href="#" onclick="openLoginModal()">Đăng Nhập</a><href= class="fa-solid fa-user" href="# " ></li>
     
    <li><a href="#" onclick="goToCartPage()">Giỏ Hàng</a><i class="fa-solid fa-cart-shopping" href=></i></li>
</header>
<section id="slider"><div class="aspect-ratio-169">
    <img src="{{url_for('static', filename='/images/trangchu.jpg')}}" alt=""> </div>

  <div class="container">
    <img src="{{url_for('static', filename='/images/trangchu2.jpg')}}" height="450px">
<p1>TỪ NHỮNG MẦM TRÀ, CHÚNG TÔI TẠO RA NIỀM ĐAM MÊ</p1>
<p>Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và hạt cà phê thượng hạng cùng mong muốn mang lại cho khách hàng những trải nghiệm giá trị nhất khi thưởng thức, Phúc Long liên tục là thương hiệu tiên phong với nhiều ý tưởng sáng tạo đi đầu trong ngành trà và cà phê. 
<br>
<br>Chúng tôi tin rằng từng sản phẩm trà và cà phê sẽ càng thêm hảo hạng khi được tạo ra từ sự phấn đấu không ngừng cùng niềm đam mê. Và chính kết nối dựa trên niềm tin, sự trung thực và tin yêu sẽ góp phần mang đến những nét đẹp trong văn hóa thưởng trà và cà phê ngày càng bay cao, vươn xa.</p>
</div>
</head>
</section>
</body>
</html>
