<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='body.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>PhucLong Coffee & Tea</title>
    {% endif %}
    <header>
        <div class="nen1">
            <div class="logo"> 
                <img src="https://th.bing.com/th?id=OIP.sVIZQwgTNaeP_-Z3L9xHyQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" height="80px" title="logoPL">
            </div> 
            <div class="login"> 
                <li><a href="#" onclick="openLoginModal()">Đăng Nhập</a></li>
            </div>
            <div class="Pay">
                <li><a href="#" onclick="goToCartPage()">Giỏ Hàng </a><i class="fa-solid fa-cart-shopping"></i></li> 
            </div>
        </div>
        <nav>
            <div class="container" >
                <div class="menu">
                 <ul>
                    <li> <a href=""><b>TRANG CHỦ</b></a></li>
                        <li><a href=""><b>THỨC UỐNG</b></a>
                     <!-- <ul class=" submenu">
                                <li><a href="">Thức Uống</a></li>
                                <li><a href=""> Bánh Tráng Miệng </a></li>
                                <li><a href="">Đồ Ăn Mặn</a></li>
                            </ul></li> -->
                        <li> <a href=""><b>SẢN PHẨM</b></a></li>
                        <li> <a href=""><b>VỀ CHÚNG TÔI</b></a></li>
                        <li><a href=""><b><i class="fas fa-search"></b></a></i></li>
                    </ul> 
                </div>
            </div>
        </nav>
    </header>
    <body>
        {% block content %}{% endblock %}
    </body>
    <div class="stores">
        <h1>HỆ THỐNG CỬA HÀNG</h1>
        <div class="section1">
            <label for="city"></label>
            <select id="city" name="city" onchange="capnhat()">
                <option value="">Chọn tỉnh/thành phố</option>
                <option value="Thành Phố Hà Nội">Thành Phố Hà Nội</option>
                <option value="Thành Phố Hồ Chí Minh">Thành Phố Hồ Chí Minh</option>
                <option value="Tỉnh Tiền Giang">Tỉnh Tiền Giang</option>
            </select>
        </div>
        <div class="section2">
            <label for="district"></label>
            <select id="district" name="district" onchange="displayChiNhanh()">
                <option value="">Chọn quận/huyện</option>
            </select>
        </div>

        <h2>Địa chỉ cửa hàng</h2>

        <div id="phuclong-section" class="scroll-box">
            <ul id="diachi-list"></ul>
        </div>
    </div>
    <footer id="footer">
        <div class="f-bot">
            <div class="container">
                <div class="row">
                    <div class="chan-1"> 
                        <b>Trụ sở chính</b>: Công ty Cổ Phần Phúc Long Heritage - ĐKKD: 0316 871719</br>
                        do sở KHĐT TPHCM cấp lần đầu ngày 21/05/2021</br>
                        <b>Nhà máy</b>: D_8D_CN Đường XE 1, Khu Công Nghiệp Mỹ Phước III, phường Mỹ Phước, thị xã Bến Cát, tỉnh Bình Dương, Việt Nam<br>
                        <b>Địa chỉ</b>: Phòng 702, Tầng 7, Tòa nhà Central Plaza, số 17 Lê Duẩn, phường Bến Nghé, quận 1, Hồ Chí Minh</br>
                        <b>Hotline Đặt hàng</b>: 1800 6779</br>
                        <b>Hotline Công ty</b>: 1900 2345 18 (Bấm phím 0: Lễ Tân | phím 1: CSKH) </br>
                        <b class="w37">Email</b><span class="w4">:</span><span class="w1"> sales@phuclong.masangroup.com;info2@phuclong.masangroup.com</span>
                    </div>
                <div class="chan-2">
                    <br for="newsletter-email"><b>Đăng ký nhận tin khuyến mãi</b></label>
                        <form method="POST" action="https://phuclong.com.vn/send" accept-charset="UTF-8" class="form-inline" id="form-newsletter"><input name="_token" type="hidden" value="dxa62Ujw1Oii8qtpwOhHLDlVXJqCLdRox2o1iUh2">
                            <div class="form-group">
                                <input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Nhập địa chỉ email" style="width: 50%" style="border: 1px solid rgb(5, 79, 3);"> <button class="my-button">GỬI</button>
                            </div>
                        </form>
                        <br/>
                         <ul>
                            <li><a href="https://phuclong.com.vn/chinh-sach-dat-hang">Chính sách đặt hàng</a></li>
                            <li><a href="https://phuclong.com.vn/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="BanquyenPL">
        © 2017 Bản quyền Phuc Long Co., Ltd<br class="Chunen" />
    </div>
</html>
<script>
    const quanTP = {
         "Thành Phố Hồ Chí Minh":["Chọn Quận/huyện","Quận 1", "Quận 2", "Quận 3"],
         "Thành Phố Hà Nội": ["Chọn Quận/huyện","Hà Đông", "Hoàn Kiếm"],
         "Tỉnh Tiền Giang": ["Chọn Quận/huyện","Thành Phố Mỹ Tho"],
     };

     const dsChiNhanh ={
         "Quận 1":["Phúc Long Nowzone - TTTM Nowzone, số 235 Nguyễn Văn Cừ, quận 1, Hồ Chí Minh", "Phúc Long Nguyễn Thị Minh Khai - L1-01, Tòa nhà Somerset Chancellor Court, số 21-23 Nguyễn Thị Minh Khai, quận 1, Hồ Chí Minh", "Phúc Long Mạc Thị Bưởi - 63 Mạc Thị Bưởi, quận 1, Hồ Chí Minh", "Phúc Long 29 Ngô Đức Kế - 29-31 Ngô Đức Kế, quận 1, Hồ Chí Minh"],
         "Quận 2":[],
         "Quận 3":["Phúc Long Lê Văn Sỹ - 350 Lê Văn Sỹ, quận 3, Hồ Chí Minh"],
         "Hà Đông":["Phúc Long New Skyline - Tòa nhà New Skyline, khu đô thị mới Văn Quán - Yên Phúc, phường Văn Quán, quận Hà Đông, Hà Nội"],
         "Hoàn Kiếm":["Phúc Long Hàng Điếu - 82-84 Hàng Điếu, phường Cửa Đông, quận Hoàn Kiếm, Hà Nội"],
         "Thành Phố Mỹ Tho":["Phúc Long Kiosk Nguyễn Huỳnh Đức - 42/4 Nguyễn Huỳnh Đức, phường 8, thành phố Mỹ Tho, tỉnh Tiền Giang", "Phúc Long Kiosk Trần Hưng Đạo - 915B Trần Hưng Đạo, phường 5, thành phố Mỹ Tho, tỉnh Tiền Gian"],
     };

     function capnhat() {
         const citySelect = document.getElementById("city");
         const districtSelect = document.getElementById("district");
         const selectedCity = citySelect.value;

         districtSelect.innerHTML = '';

         if (selectedCity in quanTP) {
             quanTP[selectedCity].forEach(function(district) {
                 const option = document.createElement("option");
                 option.value = district;
                 option.text = district;
                 districtSelect.appendChild(option);
             });
         }
     }

     function displayChiNhanh() {
         const districtSelect = document.getElementById("district");
         const selectedDistrict = districtSelect.value;
         const cNList = document.getElementById("diachi-list");

         cNList.innerHTML = '';

         if (selectedDistrict in dsChiNhanh) {
             dsChiNhanh[selectedDistrict].forEach(function(diadiem) {
                 const listItem = document.createElement("li");
                 const icon = document.createElement("img");
                 const text = document.createElement("span");
                 const button = document.createElement("button");

                 icon.src = "https://img.icons8.com/ios-filled/24/ffffff/shop.png"; // Link icon
                 icon.classList.add("icon");

                 text.textContent = diadiem;

                 button.textContent = "Chỉ đường";
                 button.classList.add("button");

                 listItem.appendChild(icon);
                 listItem.appendChild(text);
                 listItem.appendChild(button);

                 cNList.appendChild(listItem);
             });
         }
     }
 </script>