<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='body.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
    
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>PhucLong Coffee & Tea</title>
    {% endif %}
    <header>
        <div class="background-top">
            <div class="logo"> 
                <img src="https://th.bing.com/th?id=OIP.sVIZQwgTNaeP_-Z3L9xHyQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.3&pid=3.1&rm=2" height="80px" title="logoPL">
            </div> 
            <div class="login"> 
                <li><a href="#" onclick="openLoginModal()">Đăng Nhập</a></li>
            </div>
            <div class="Pay">
                <li><a href="#" onclick="goToCartPage()">Giỏ Hàng </a><i class="fa-solid fa-cart-shopping"></i></li> 
            </div>
        </div>
        <nav>
            <div class="main-container" >
                <div class="main-menu">
                <ul>
                    <li><a href="#"><b>TRANG CHỦ</b></a></li>
                    <li><a href=""><b>THỨC UỐNG</b></a>
                        <ul class="order-menu">
                            <li><a href="">Thức uống</a></li>
                            <li><a href=""> Bánh tráng miệng </a></li>
                             <li><a href="">Đồ ăn mặn</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><b>SẢN PHẨM</b></a>
                        <ul class="product-menu">
                            <li><a href="">Trà hộp</a></li>
                                        <!-- <ul>
                                            <li>Trà túi lọc</li>
                                            <li>Trà túi tam giác</li>
                                            <li>Trà hộp giấy</li>
                                            <li>Trà hộp xám</li>
                                        </ul> -->
                            <li><a href="">Trà gói</a></li>
                                        <!-- <ul>
                                            <li>Trà Thái Nguyên</li>
                                            <li>Trà gói cao cấp</li>
                                            <li>Trà văn lý hương</li>
                                            <li>Trà đen</li>
                                            <li>Trà sen</li>
                                            <li>Trà xanh</li>
                                            <li>Trà lài</li>
                                        </ul> -->
                            <li><a href="">Trà lon</a></li>
                                        <!-- <ul>
                                            <li>Trà lon giấy</li>
                                            <li>Trà lon giấy cao cấp</li>
                                            <li>Trà lon thiếc</li>
                                            <li>Trà Ô Long Thượng Hạng</li>
                                        </ul> -->
                            <li><a href="">Cà phê</a></li>
                                    <!-- <ul>
                                        <li>Cà phê Set</li>
                                        <li>Cà phê Phin nhôm</li>
                                        <li>Cà phê mùi</li>
                                        <li>Cà phê hạt</li>
                                    </ul> -->
                        </ul>
                    </li>
                    <li><a href="#"><b>VỀ CHÚNG TÔI</b></a>
                        <ul class="about-menu">
                            <li><a href="">Công Ty</a></li>
                            <li><a href="">Tuyển Dụng</a></li>
                            <li><a href="">Thư Viện</a></li>
                            <li><a href="">Liên Hệ</a></li>
                        </ul>
                    </li>                      
                    <li><a href="#"><i class="fas fa-search"></i></a>
                        <ul class="about-menu">
                            <li><a href="">Sản phẩm cà phê</a></li>
                            <li><a href="">Sản phẩm Trà</a></li>
                        </ul>
                    </li>
                </div>
            </div>
        </nav>
        </nav>
    </header>
    <body>
        {% block content %}{% endblock %}
    </body>
    <footer id="footer">
        <div class="f-bot">
            <div class="container">
                <div class="row">
                    <div class="chan-1"> 
                        <b>Trụ sở chính</b>: Công ty Cổ Phần Phúc Long Heritage - ĐKKD: 0316 871719</br>
                        do sở KHĐT TPHCM cấp lần đầu ngày 21/05/2021</br>
                        <b>Nhà máy</b>: D_8D_CN Đường XE 1, Khu Công Nghiệp Mỹ Phước III, phường Mỹ Phước, thị xã Bến Cát, tỉnh Bình Dương, Việt Nam<br>
                        <b>Địa chỉ</b>: Phòng 702, Tầng 7, Tòa nhà Central Plaza, số 17 Lê Duẩn, phường Bến Nghé, quận 1, Hồ Chí Minh</br>
                        <b>Hotline Đặt hàng</b>: 1800 6779</br>
                        <b>Hotline Công ty</b>: 1900 2345 18 (Bấm phím 0: Lễ Tân | phím 1: CSKH) </br>
                        <b class="w37">Email</b><span class="w4">:</span><span class="w1"> sales@phuclong.masangroup.com;info2@phuclong.masangroup.com</span>
                    </div>
                <div class="chan-2">
                    <br for="newsletter-email"><b>Đăng ký nhận tin khuyến mãi</b></label>
                        <form method="POST" action="https://phuclong.com.vn/send" accept-charset="UTF-8" class="form-inline" id="form-newsletter"><input name="_token" type="hidden" value="dxa62Ujw1Oii8qtpwOhHLDlVXJqCLdRox2o1iUh2">
                            <div class="form-group">
                                <input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Nhập địa chỉ email" style="width: 50%" style="border: 1px solid rgb(5, 79, 3);"> <button class="my-button">GỬI</button>
                            </div>
                        </form>
                        <br/>
                         <ul>
                            <li><a href="https://phuclong.com.vn/chinh-sach-dat-hang">Chính sách đặt hàng</a></li>
                            <li><a href="https://phuclong.com.vn/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="BanquyenPL">
        © 2017 Bản quyền Phuc Long Co., Ltd<br class="Chunen" />
    </div>
</html>