<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename="layout_drinks.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="drinks.css")}}">
    <link rel="stylesheet" href="{{url_for('static', filename="body.css")}}">
    <!--import third-parties script-->
    <script src="https://kit.fontawesome.com/9f2a0dbdd2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Phúc Long Coffee & Tea</title>
</head>
<body>
    <header style="padding-bottom:10rem">
        <div class="container-fluid fixed-top" style="padding-top:10px; background-color: #f8f9fa">
            <div class="h_top">
                <div class="container-fluid bg-light">
                    <div class="row">
                        <div class="col-3">
                            <div class="h_delivered" style="width: 200px; heigth: 50px; padding-left:50px">
                                <a href="tel:18006779"><img src="{{url_for("static", filename="images/home/delivery.png")}}"></a>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="h_logo">
                                <div class="h_logo_image">
                                    <section>
                                        <a href="{{url_for("home")}}">
                                            <img src="{{url_for("static", filename="images/home/logo.png")}}" class="carousel-image">
                                            <img src="{{url_for("static", filename="images/home/logo_1.png")}}" class="carousel-image">
                                            <img src="{{url_for("static", filename="images/home/logo_2.png")}}"class="carousel-image">
                                        </a>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="h_right" style="display:flex; justify-content:right;">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:black;">
                                            <b>Đăng Nhập</b>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link h_menu_Right" href="#" style="color: #198754">VN</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link h_menu_Right" href="#" style="color: gray">|</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link h_menu_Right" href="#" style="color: gray">EN</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="btn btn-outline-success" href="#" id="CartButton">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>Giỏ Hàng
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
            </div>
            <div class="h_menu">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavMenu" aria-controls="NavMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                        <div class="collapse navbar-collapse" id="NavMenu">
                            <ul class="navbar-nav me-auto mb-2 mb lg-0">
                                <li class="nav-item">
                                    <a href="{{url_for("home")}}" class="nav-link" aria-current="page" ><b>TRANG CHỦ</b></a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a href="#" class="nav-link active dropbtn" style="color: #029823"><b>THỨC UỐNG</b></a>
                                        <div class="dropdown-content">
                                          <a href="{{url_for('tragoi')}}">Trà Gói</a>
                                          <a href="{{url_for('drinks')}}">Thức Uống Ngọt Từ Trà</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a href="#" class="nav-link active dropbtn"><b>BÁNH NGỌT</b></a>
                                        <div class="dropdown-content">
                                          <a href="#">Bánh tráng Miệng</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a href="#" class="nav-link active dropbtn"><b>KHUYẾN MÃI</b></a>
                                        <div class="dropdown-content">
                                          <a href="#">Khuyến Mãi Trong Tháng</a>
                                          <a href="#">Các Mã Giảm Giá</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <a href="#" class="nav-link active dropbtn"><b>VỀ CHÚNG TÔI</b></a>
                                        <div class="dropdown-content">
                                          <a href="#">Chi nhánh của công ti</a>
                                          <a href="#">Đội ngũ nhân viên</a>
                                          <a href="#">Mục tiêu</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <form class="d-flex pe-5">
                                <input class="form-control me-2" type="search" placeholder="Search" arial-label="Search">
                                <button class="btn btn-outline-dark" type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>
                    </div>
                </nav>
        </div>
        <script src="{{url_for("static", filename="script/script.js")}}"></script>
        <script src="{{url_for("static", filename="script/layout.js")}}"></script>
    </header>
    {% block content %}{% endblock %}
    <footer id="footer" style="background-color: white;">
        <div class="f-bot">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p style="font-size: 13px">
                            <b>Trụ sở chính</b>: Công ty Cổ Phần Phúc Long Heritage - ĐKKD: 0316 871719</br>
                            do sở KHĐT TPHCM cấp lần đầu ngày 21/05/2021</br>
                            <b>Nhà máy</b>: D_8D_CN Đường XE 1, Khu Công Nghiệp Mỹ Phước III, phường Mỹ Phước, thị xã Bến Cát, tỉnh Bình Dương, Việt Nam<br>
                            <b>Địa chỉ</b>: Phòng 702, Tầng 7, Tòa nhà Central Plaza, số 17 Lê Duẩn, phường Bến Nghé, quận 1, Hồ Chí Minh</br>
                            <b>Hotline Đặt hàng</b>: 1800 6779</br>
                            <b>Hotline Công ty</b>: 1900 2345 18 (Bấm phím 0: Lễ Tân | phím 1: CSKH) </br>
                            <b class="w37">Email</b><span class="w4">:</span><span class="w1"> sales@phuclong.masangroup.com;info2@phuclong.masangroup.com</span>
                        </p>
                    </div>
                <div class="col" style="font-size: 13px">
                    <br for="newsletter-email"><b>Đăng ký nhận tin khuyến mãi</b></label>
                        <form class="d-flex" method="POST" action="https://phuclong.com.vn/send" accept-charset="UTF-8" class="form-inline" id="form-newsletter"><input name="_token" type="hidden" value="dxa62Ujw1Oii8qtpwOhHLDlVXJqCLdRox2o1iUh2">
                            <input type="email" class="form-control me-2" id="newsletter-email" name="newsletter-email" placeholder="Nhập địa chỉ email" style="width: 50%" style="border: 1px solid rgb(5, 79, 3);">
                            <button class="btn btn-outline-success">GỬI</button>
                        </form>
                        <br/>
                         <ul>
                            <li><a href="https://phuclong.com.vn/chinh-sach-dat-hang">Chính sách đặt hàng</a></li>
                            <li><a href="https://phuclong.com.vn/chinh-sach-bao-mat-thong-tin">Chính sách bảo mật thông tin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="container-fluid text-center fix-bottom" style="background-color: black;color:white;font-size: 13px">
        © 2017 Bản quyền Phuc Long Co., Ltd
    </div>
</body>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 style="color: #009821"><b>Phúc Long Coffee & Tea<i class="fa-brands fa-pagelines"></i></b></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="logo mb-3">
                    <div class="col-md-12 mb-3 text-center">
                        <h4 style="color: #010019"><b>Đăng Nhập</b></h4>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" aria-describedby="username" ><i class="fa-solid fa-user"></i></span>
                    <input type="text" class="form-control" id="username" placeholder="Tên tài khoản hoặc email">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" aria-describedby="password" ><i class="fa-solid fa-key"></i></span>
                    <input type="password" class="form-control pass" id="password" placeholder="Mật khẩu">
                </div>
                <div class="container">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="checkbox1" onclick="Reveal()">
                        <label class="form-check-label" for="checkbox1">Hiện mật khẩu</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="checkbox2">
                        <label class="form-check-label" for="checkbox2">Nhớ thông tin đăng nhập</label>
                    </div>
                </div>
                <div class="input-group mb-3 mt-3 GoogleLogin">
                    <span class="input-group-text" style="background-color: white;color:red"><i class="fa-brands fa-google"></i></span>
                    <button class="btn btn-danger">Đăng nhập bằng tài khoản Google</button>
                </div>
                <div class="input-group mb-3 mt-3 GoogleLogin">
                    <span class="input-group-text" style="background-color: white;color:blue"><i class="fa-brands fa-facebook"></i></span>
                    <button class="btn btn-primary">Đăng nhập bằng tài khoản Facebook</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Đăng Nhập</button>
        </div>
      </div>
    </div>
  </div>
</html>