<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTrà Gói</title>
    <link rel="stylesheet" type="text/css" href="TraLon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="background-tralon">
        <img src="/img/background-TraLon.jpg" height="560px">
    </div>
    <div class="menu-tea">
        <div class="price-select"><b>Theo giá </b>
            <label for="price-select"></label>
            <select id="select">
                <option value="none" selected>Không lựa chọn</option>
                <option value="option2">Từ cao đến thấp</option>
                <option value="option1">Từ thấp đến cao</option>
            </select>
        </div>
        <div class="search-tea"> <b>Tìm kiếm </b>
            <input type="text" class="search-input" placeholder="Tên sản phẩm">
            <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    
        <!-- <div class="search-tratuihop"> Tìm Kiếm  
            <input type="text" placeholder="Tên sản phẩm">
            <button></i></button>
        </div> -->
    </div>
        <div class="content" ; col md>
            <h1>TRÀ Ô LONG THƯỢNG HẠNG</h1>
            <p>Trà Ô Long Thượng Hạng Phúc Long được tạo nên từ những búp trà non thượng hạng, trải qua quá trình thu
            <br>hái lá trà cho đến sao chế đều tuân thủ những nguyên tắc nghiêm ngặt. Cầm trên tay tách trà ngát hương,
            <br>nhâm nhi trọn vị Trà Ô Long tinh tuý như là một cách thể hiện tâm tình đối với cuộc sống, cảm thụ hương 
            <br>vị tự nhiên toát ra từ lá trà, cảm thấy lòng an nhiên trước bao bộn bề.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-3" herf="#">
            <div class="card">
              <img src="/img/Traolongth.80g.png" class="card-img-top" alt="Ảnh thẻ 1">
              <div class="card-body">
                <h5 class="card-title">Trà  Ô Long Thượng Hạng</h5>
                <h6 class="card-text">80 g</h6>
                <p class="card-text2" href="#" >380.000 đ</p>
              </div>
            </div>
          </div>
          <div class="col-md-3" herf="#">
            <div class="card">
              <img src="/img/traolongth96g.png" class="card-img-top" alt="Ảnh thẻ 2">
              <div class="card-body">
                <h5 class="card-title">Trà  Ô Long Thượng Hạng</h5>
                <h6 class="card-text">96 g</h6>
                <p class="card-text2">436.000 đ</p>
              </div>
            </div>
          </div>
        </div>
    <div class="content" ; col md>
        <h1>TRÀ LON THIẾC</h1>
        <p>Với thiết kế bao bì chắc chắn nhưng gọn nhẹ, trà lon thiếc không chỉ lưu giữ được
        <br>hương vị tươi ngon của trà mà còn gửi gắm những giá trị truyền thống của văn hóa
        <br>thưởng trà để gắn kết tình thân.</p>
    </div>
    <div class="container">
  <div class="row">
    <div class="col-md-3" herf="#">
      <div class="card">
        <img src="/img/traolong80.png" class="card-img-top" alt="Ảnh thẻ 1">
        <div class="card-body">
          <h5 class="card-title">Trà Ô Long 80</h5>
          <h6 class="card-text">18g</h6>
          <p class="card-text">340.000 đ</p>
        </div>
      </div>
    </div>
  </div>
<div class="content" ; col md>
    <h1>TRÀ LON GIẤY CAO CẤP</h1>
    <p>Trà lon giấy cao cấp tinh tế từ khâu lựa chọn trà, ướp hương và đóng gói. Khi được
    <br>sử dụng làm quà biếu sẽ thể hiện trọn vẹn tấm chân tình của người tặng. Vị ngọt dịu
    <br>cùng hương thơm đặc trưng đánh thức mọi giác quan và mang lại những phút giây
    <br>thư giãn tuyệt vời.</p>
</div>
<div class="container">
    <div class="row" herf="#">
      <div class="col-md-3">
        <div class="card">
          <img src="/img/trasenlongiaycc.png" class="card-img-top" alt="Ảnh thẻ 1">
          <div class="card-body">
            <h5 class="card-title">Trà Sen Lon Giấy Cao Cấp</h5>
            <h6 class="card-text">100 g</h6>
            <p class="card-text">75.000 đ</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" herf="#">
        <div class="card">
          <img src="/img/tralailongiaycc.png" class="card-img-top" alt="Ảnh thẻ 2">
          <div class="card-body">
            <h5 class="card-title">Trà Lài Lon Giấy Cao Cấp</h5>
            <h6 class="card-text">100 g</h6>
            <p class="card-text">75.000 đ</p>
          </div>
        </div>
    </div>
      <div class="col-md-3" herf="#">
        <div class="card">
          <img src="/img/traxanhlongiaycc.png" class="card-img-top" alt="Ảnh thẻ 3">
          <div class="card-body">
            <h5 class="card-title">Trà Xanh Lon Giấy Cao Cấp</h5>
            <h6 class="card-text">100 g</h6>
            <p class="card-text">55.000 đ</p>
          </div>
         </div>
      </div>
  </div>
  <div class="content" ; col md>
    <h1>TRÀ LON GIẤY</h1>
    <p>Trà lon giấy có thiết kế bao bì hiện đại, sang trọng cùng hương vị đậm đà, thanh
    <br>khiết thích hợp để làm quà biếu. Gửi trao vị ngọt đắng, thanh cao của trà là gửi trao
    <br>những lời chúc tốt đẹp nhất dành cho những người thân yêu.</p>
</div>
<div class="container">
    <div class="row" herf="#">
      <div class="col-md-3">
        <div class="card">
          <img src="/img/trasenlongiay.png" class="card-img-top" alt="Ảnh thẻ 1">
          <div class="card-body">
            <h5 class="card-title">Trà Sen Lon Giấy</h5>
            <h6 class="card-text">100 g</h6>
            <p class="card-text">58.000 đ</p>
          </div>
        </div>
      </div>
      <div class="col-md-3" herf="#">
        <div class="card">
          <img src="/img/tralailongiay.png" class="card-img-top" alt="Ảnh thẻ 2">
          <div class="card-body">
            <h5 class="card-title">Trà Lài Lon Giấy</h5>
            <h6 class="card-text">100 g</h6>
            <p class="card-text">58.000 đ</p>
          </div>
        </div>
    </div>
      <div class="col-md-3" herf="#">
        <div class="card">
          <img src="/img/traxanhlongiay.png" class="card-img-top" alt="Ảnh thẻ 3">
          <div class="card-body">
            <h5 class="card-title">Trà Xanh Lon Giấy</h5>
            <h6 class="card-text">100 g</h6>
            <p class="card-text">45.000 đ</p>
          </div>
         </div>
      </div>
  </div>
 
</body>
</html>